.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
}

.cart {
  display: inline-block;
  margin-right: 15px;
}

.auth {
  display: inline-block;
}

.search input {
  display: block;
  margin: 12px auto 18px;
  width: 250px;
  border: 1px solid transparent;
  padding: 5px 13px;
  height: 35px;
  border-radius: 16px;
  background: #efeeed;
  font-size: 16px;
  outline: none;
}
.search input:focus {
  border-color: #d2d0cc;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.langs {
  margin-right: 10px;
}